.logo{
	width: 200px;
}

html, body {
      min-height: 100vh;
      margin: 0;
      background-color: white;
    }

.divh1{
	background-color: rgb(232, 202, 140);
	height: 150px;
	   margin-bottom: 10px;
	   
	}	

  
 