 .carousel-item img {
    height: 100vh; /* 100% dell’altezza visibile della finestra */
    object-fit: cover; /* ritaglia l’immagine mantenendo le proporzioni */
    filter: blur(5px);
  }

  #form-login{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.85);
        padding: 2rem 3rem;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        z-index: 10;
  }